*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:375px), (max-height:812px) {
    body{
        width: 100%;
        height: 100vh;
        background: linear-gradient(112.58deg, #FF1E1E 0.37%, #9FCE18 98.57%);
        padding: 30px;
    }

    h1{
        width: 100%;
        height: 100px;
        color: #ffffff;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    input {
        width: 160px;
        height: 50px;
        margin-left: 45px;
        align-items: center;
        border: gray solid 1px;
        border-radius: 15px;
        padding: 10px;
    }

    select {
        width: 106px;
        height: 50px;
        border: gray solid 1px;
        border-radius: 15px;
    }

    div {
        width: 265px;
        height: 50px;
        background-color: #ffffff;
        margin: 30px 51px;
        padding: 17px 11px;
        border-radius: 15px;
    }
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(112.58deg, rgb(255, 30, 30) 0.37%, rgb(159, 206, 24) 98.57%);
    padding: 30px;
}

h1{
    width: 100%;
    height: 100px;
    color: #ffffff;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input{
    width: 300px;
    height: 100px;
    margin-left: 45px;
    align-items: center;
    border: gray solid 1px;
    border-radius: 15px;
    padding: 10px; 
}

