*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media (min-width:390px){
    html{
        width: 100%;
        height: 100vh;
    }
    body{
        width: 600px;
        height: 844px;
        background: linear-gradient(112.58deg, #FF1E1E 0.37%, #9FCE18 98.57%);
        padding: 15px;
    }

    h1{
        width: 100%;
        height: 50px;
        color: #ffffff;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    input{
        width: 250px;
        height: 25px;
        margin-left: 200px;
        align-items: center;
        border: gray solid 1px;
        border-radius: 15px;
        padding: 2.5px;
    }

    select{
        width: 80px;
        height: 25px;
        border: gray solid 1px;
        border-radius: 15px;
    }
    
    li{
        font-size: 8px;
        color: #ffffff;
    }
    
    div{
        width: 250px;
        height: 25px;
        background-color: #ffffff;
        margin: 15px 200px;
        padding: 7.5px 2px;
        border-radius: 15px;
    }
    
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(112.58deg, #FF1E1E 0.37%, #9FCE18 98.57%);
    padding: 30px;
}

h1{
    width: 100%;
    height: 100px;
    color: #ffffff;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input{
    width: 250px;
    height: 25px;
    margin-left: 400px;
    align-items: center;
    border: gray solid 1px;
    border-radius: 15px;
    padding: 5px;
}

select{
    width: 160px;
    height: 50px;
    border: gray solid 1px;
    border-radius: 15px;
}

li{
    font-size: 16px;
    color: #ffffff;
}

div{
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    margin: 30px 400px;
    padding: 15px 2px;
    border-radius: 15px;
}
